.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #025464;
  border-radius: 10px;
  padding: 30px;
  background-color: #f8f1f1;
  margin: 1rem;
  max-width: 40%;
}

.image {
  border-radius: 5px;
  margin: 2rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.details {
  flex-grow: 1;
  margin-left: 20px;
}

.property {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  margin-right: 5px;
}

.value {
  color: #025464;
  font-weight: bold;
}

.textAccent {
  color: #025464;
}
.list {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  padding: 0;
  list-style: none;
}

/* Optional: Add margin or padding to the items for spacing */
.list li {
  margin: 10px;
}
.image {
  border-radius: 5px;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.details {
  margin-top: 20px;
  text-align: center;
}

.property {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  margin-right: 5px;
}

.value {
  color: #025464;
  font-weight: bold;
}

.textAccent {
  color: #025464;
}
